<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <title>Japanese Word of the Day</title>
  </head>

  <body>
    <div class="container" role="main">
      <div class="header">
        <ul class="nav nav-pills text-center">
        	<h1>Japanese Word of the Day</h1>
        </ul>
      </div>

      <%= @inner %>

    </div> <!-- /container -->
  </body>
</html>
