<h2>Show word</h2>

<ul>

  <li>
    <strong>Kanji:</strong>
    <%= @word.kanji %>
  </li>

  <li>
    <strong>Furigana:</strong>
    <%= @word.furigana %>
  </li>

  <li>
    <strong>Romaji:</strong>
    <%= @word.romaji %>
  </li>

  <li>
    <strong>English:</strong>
    <%= @word.english %>
  </li>

</ul>


<%= link "Edit", to: word_path(@conn, :edit, @word) %>
<%= link "Back", to: word_path(@conn, :index) %>
